/* FONTS */

* {
    font-family: 'PT Serif', serif;
    letter-spacing: .5px;
    text-align: left;

}

body {
    background: black;
}


/* YOUR STYLES */

title {
     font-family: 'PT Serif', serif;
}

h1, h3 {
   font-weight: bold;
}



.cd-header {
    background: #a10022;
}


/* CONTENT CONTAINERS */
.cd-gallery li {
    background: white;
    padding: 1em;
}

/* Grid View */
.grid li.mix {
    
}

/* List View */
.list li.mix {
    width: 100%;
}

.list li.mix p {
    display: none;
}